# Don't ever commit your settings
config.py

# Python remenants
*.pyc
*.pyo

*.stats_cache
# Standard locations of data and server temporary files
work/
.vscode
data/tutorials
data/examples

# for mac
.DS_Store